extends layout

block content
  h1= title
  form#formAddUser(name="adduser", method="post", action="/adduser")
    input#inputUserName(type="text", placeholder="Username", name="username")
    br
    input#inputUserPassword(type="password", placeholder="Password" name="userpassword")
    br
    input#inputUserEmail(type="text", placeholder="useremail" name="useremail")
    br
    button#btnSubmit(type="submit") submit
